.wrapper
  .chat-side
    .side-header
      .side-header__box
        aaa
        .side-header__box__user
        .side-header__box__menu
          .side-header__box__menu__new-group
            = fa_icon 'edit' 
          .side-header__box__menu__edit-user
            = fa_icon 'cog'


    .groups
      .group
        .group__name
          ねむい
        .group__message
          kkkk
      


  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__group
          ggg
        .main-header__left-box__member
          member
      .main-header__right-box
        edit

    .messages
      .message
        .message__top
          .message__top__info
            ttt
          .message__top__time
            1111
        .message__top__text
          ggg


    .forms
      .form
        .form__box
          .form__box__font
            yyyy
          %label.form__box__image
            = fa_icon 'image'
            %input#message_image{name: "name", type: "file"}
        .form__box__send
          .form__box__send__text
            SEND


 